{% load static %}
<footer class="footer m-t-100">
    <div class="container">
        <!-- Start Footer Top Section --> 
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="index.html" class="footer__logo-link">
                                <img src="{% static 'img/logo/logo-2.png' %}" alt="" class="footer__logo-img">
                            </a>
                        </div>
                        <ul class="footer__address">
                            <li class="footer__address-item"><i class="fa fa-home"></i>г. Одесса</li>
                            <li class="footer__address-item"><i class="fa fa-phone-alt"></i>+38 (099) 336 99-52</li>
                            <li class="footer__address-item"><i class="fa fa-envelope"></i>babytoys.in.ua@gmail.com</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="footer__menu">
                        <h4 class="footer__nav-title footer__nav-title--dash footer__nav-title--dash-red">Информация</h4>
                        <ul class="footer__nav">
                            <li class="footer__list"><a href="#modalShippinginfo"  data-toggle="modal" class="footer__link">Доставка</a></li>
                            <li class="footer__list"><a href="#modalProductAsk" data-toggle="modal" class="footer__link">Заказ и возврат</a></li>
                            <li class="footer__list"><a href="" class="footer__link">О нас</a></li>
                            <li class="footer__list"><a href="" class="footer__link">Карта сайта</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="footer__menu">
                        <h4 class="footer__nav-title footer__nav-title--dash footer__nav-title--dash-red">Время работы</h4>
                        <ul class="footer__nav">
                            <li class="footer__list">Пн - Пт: 10.00 - 18.00</li>
                            <li class="footer__list">Сб: 11.00-15.00</li>
                            <li class="footer__list">Вс: выходной</li>
                            <li class="footer__list">Работаем все праздники</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End Footer Top Section -->
        <!-- Start Footer Bottom Section --> 
        <div class="footer__bottom">
            <div class="row text-center">
                <p>Copyright &copy; Все права защищены</p>
            </div>
        </div> <!-- End Footer Bottom Section --> 
    </div>
</footer> 