<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="empty-cart m-t-40 text-center">
                    <div class="empty-cart-icon title--large"><i class="icon-heart"></i></i></div>
                    <h3 class="title title--normal title--thin m-tb-30">Список пуст</h3>
                    <a href="{% url 'category_list' %}" class="btn btn--box btn--large btn--radius btn--green btn--green-hover-black btn--uppercase font--semi-bold m-t-20">Продолжить покупки</a>
                </div>
            </div>
        </div>
    </div>
</main> 
<!-- ::::::  End  Main Container Section  ::::::  -->