{% load include_tag %}
{% load mptt_tags %}

<div class="header-menu">
    <nav>
        <ul class="header__nav">
            <li class="header__nav-item pos-relative">
                <a href="{% url 'index' %}" {%if '' in request.path %} style="color:#89c74a;" {%endif%} class="header__nav-link">Главная</a>
            </li>
            <li class="header__nav-item pos-relative">
                <a href="#" class="header__nav-link">Каталог<i class="fal fa-chevron-down"></i></a>
                <!--Single Dropdown Menu-->
                <ul class="dropdown__menu pos-absolute">
                    {% show_menu as category_list %}
                    {% recursetree category_list %}
                        <li class="dropdown__list">
                            {% if node.is_leaf_node %}
                                <a href=" {{ node.get_absolute_url }}" class="dropdown__link d-flex justify-content-between align-items-center"> {{ node.name }}</a>
                            {% endif %}
                            {% if not node.is_leaf_node %}                                
                                <a href="#" class="dropdown__link d-flex justify-content-between align-items-center"> {{ node.name }} <i class="far fa-chevron-right"></i></a>
                                <ul class="dropdown__submenu pos-absolute">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul> 
                <!--Single Dropdown Menu-->
            </li>
            <li class="header__nav-item pos-relative">
                <a href="#" class="header__nav-link">Новинки<i class="fal fa-chevron-down"></i></a>
                <span class="menu-label menu-label--blue">New</span>
                <!--Single Dropdown Menu-->
                <ul class="dropdown__menu pos-absolute">
                    <li class="dropdown__list">
                        <a href="{% url 'all_new' %}" class="dropdown__link">Поступления за 14 дней</a>
                    </li>
                    {% get_date_list_menu as dates %} 
                    {% for date in dates %}
                        <li class="dropdown__list">
                            <a href="{% url 'day_new' date %}" class="dropdown__link">Поступление {{ date }}</a>
                        </li>
                    {% endfor %} 
                </ul>
                <!--Single Dropdown Menu-->
            </li>
            <li class="header__nav-item pos-relative">
                <a href="{% url 'news' %}" {%if 'news' in request.path %} style="color:#89c74a;" {%endif%} class="header__nav-link">Новости</a>
            </li>
            <li class="header__nav-item pos-relative">
                <a href="{% url 'about' %}" {%if 'about' in request.path %} style="color:#89c74a;" {%endif%} class="header__nav-link">О нас</a>
            </li>
        </ul>
    </nav>
</div> 