{% load static %}

<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>
<!-- Start Modal Size guide -->
<div class="modal fade" id="modalSizeGuide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> <i class="fal fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive size-guide-table">
                                <ul class="shipping-info-list">
                                    <h3 style="margin: 0 0 20px 0; font-weight: 700">Оформление</h3>
                                    <li>На указанный номер телефона и адрес электронной почты вы получите сообщение о том, что ваш заказ передан на обработку.</li>
                                    <li>Срок обработки — от 10 минут до нескольких часов. Как правило, обработка заказов происходит день в день.</li>
                                    <li>Оператор интернет-магазина проверит наличие товара и свяжется с вами для уточнения всех деталей.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Size Guide -->
<!-- Start Modal Shipping Info -->
<div class="modal fade" id="modalShippinginfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> <i class="fal fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="shipping-info-list">
                                <h3 style="margin: 0 0 20px 0; font-weight: 700">Перевозки</h3>
                                <li>Получение в магазине доступно в течение 1-7 рабочих дней. </li>
                                <li>Покупки доставляются в коробке, перевязанной лентой, за исключением некоторых предметов.</li>
                                <li>Отправляем заказы по всей Украине. Как только заказ будет передан перевозчику — вы получите номер экспресс-накладной по SMS или сообщением в Viber.</li>
                                <li>По прибытии товаров в отделение, вы получите SMS или сообщение в Viber. </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Shipping Info -->
<!-- Start Modal Product Ask -->
<div class="modal fade" id="modalProductAsk" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> <i class="fal fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="shipping-info-list">
                                <h3 style="margin: 0 0 20px 0; font-weight: 700">Возврат и обмен</h3>
                                <li>Легко и бесплатно, в течение 14 дней.</li>
                                <li>См. условия и процедуру в наших ответах на часто задаваемые вопросы.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Product Ask -->