
{% extends 'product/base.html' %}
{% load static %}

{% block content %}
    <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
               <div class="col-12">
                <div class="compare-area mtb-50px">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-content" style="margin-top: 30px; margin-bottom: 30px; border-bottom: 2px solid #666;">
                                    <h5 class="section-content__title">Корзина</h5>
                                </div>
                                {% if products_total_nmb == 0 %}
                                    {% include 'include/empty-cart.html' %}
                                {% else %}
                                <!-- Compare Table -->
                                <div class="compare-table table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="first-column">Изображение</td>
                                                {% for product in product_list %}
                                                    <td class="product-image-title" data-td-id="{{product.id}}">
                                                        <a href="{{ product.product.get_absolute_url }}" class="img-responsive m-b-15">
                                                            <img  src="{{ product.poster.url }}" style="width: 150px;" alt="">
                                                        </a>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td class="first-column">Товар</td>
                                                {% for product in product_list %}
                                                    <td class="product-image-title" data-td-id="{{product.id}}">
                                                        <a href="{{ product.product.get_absolute_url }}" class="title">{{ product.product.title}}</a>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td class="first-column">Цена</td>
                                                {% for product in product_list %}
                                                    <td class="pro-price" data-td-id="{{product.id}}">{{product.price_per_item}}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td class="first-column">Шт.</td>
                                                {% for product in product_list %}
                                                    <td class="pro-addtocart" data-td-id="{{product.id}}">
                                                        <div class="product-quantity align-items-center">
                                                            <form class='product-basket-number' action="{% url 'basket_adding' %}">
                                                                <input type="number" id="number" name="number" value="{{product.nmb}}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
                                                                    data-id="{{product.id}}"
                                                                    data-img="{{product.poster.url}}"
                                                                    data-price="{{product.price_per_item}}">
                                                            </form>
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                                </form>
                                            </tr>
                                            <tr>
                                                <td class="first-column">Сумма</td>
                                                {% for product in product_list %}
                                                    <td class="pro-stock" data-td-id="{{product.id}}">{{product.total_price}}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <td class="first-column">Удалить</td>
                                                {% for product in product_list %}
                                                    <td class="pro-remove" data-td-id="{{product.id}}">
                                                        <form action="{% url 'basket_adding' %}" method="POST">
                                                            <button 
                                                                class="product-basket-detail-del"
                                                                data-id="{{product.id}}">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </form> 
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End Compare Table -->
                                {% endif %}
                                <!-- Start empty-cart-->
                                <template id='custom-empty-cart'>
                                    {% include 'include/empty-cart.html' %}
                                </template>
                                <!-- END empty-cart-->
                            </div>
                        </div>
                    </div>
                </div>
                {% if products_total_nmb != 0 %}
                    <div id="delete-button-order" class="empty-cart m-t-40 text-center">
                        <div class="empty-cart-icon title--large">
                            <h3 class="title title--normal title--thin m-tb-30">Сумма заказа: <span class="all-card-sum" style="color: #89c74a;">{{products_total_sum}} грн</span></h3>
                            <a href="{% url 'checkout' %}" class="btn btn--box btn--large btn--radius btn--green btn--green-hover-black btn--uppercase font--semi-bold m-t-20">Оформить заказ</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    <!-- ::::::  End  Main Container Section  ::::::  -->
{% endblock content %}