{% extends 'product/base.html' %}

{% load contact_tags %}
{% load include_tag %}
{% load static %}

{% block content %}
    <!-- :::::: Start Main Container Wrapper :::::: -->
    <main id="main-container" class="main-container">
        <!-- ::::::  Start Hero Section  ::::::  -->
        <div class="hero slider-dot-fix slider-dot slider-dot-fix slider-dot--center slider-dot-size--medium slider-dot-circle  slider-dot-style--fill slider-dot-style--fill-white-active-green dot-gap__X--10">
            {% for image in imagehome_list.all %}
            <!-- Start Single Hero Slide -->
            <div class="hero-slider">
                <img src="{{ image.image.url }}" alt="">
                <div class="hero__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="hero__content--inner">
                                    {% if image.title %}
                                        <h1 class="title__hero title__hero--xlarge font--regular ">{{image.title}}</h1>
                                    {% endif %}
                                    {% if image.up_title %}
                                        <h4 class="title__hero title__hero--small font--regular">{{image.up_title}}</h4>
                                    {% endif %}
                                    {% if image.product %} 
                                        <a href="{{ image.product.get_absolute_url }}" class="btn btn--large btn--radius btn--black btn--black-hover-green font--bold text-uppercase">{{ image.btn_name }}</a>
                                    {% endif %}
                                    {% if image.news %}
                                        <a href="{{ image.news.get_absolute_url }}"  class="btn btn--large btn--radius btn--black btn--black-hover-green font--bold text-uppercase">{{ image.btn_name }}</a>
                                    {% endif %}
                                    {% if image.slug %}
                                        <a href="{{ image.slug }}"  class="btn btn--large btn--radius btn--black btn--black-hover-green font--bold text-uppercase">{{ image.btn_name }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- End Single Hero Slide -->
            {% endfor %}
        </div> 
        <!-- ::::::  End Hero Section  ::::::  -->

        <!-- ::::::  Start  Product Style - Default Section  ::::::  -->
        <div class="product m-t-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                         <!-- Start Section Title -->
                        <div class="section-content section-content--border m-b-35">
                            <h5 class="section-content__title">Новинки</h5>
                            <a href="{% url 'all_new' %}" class="btn btn--icon-left btn--small btn--radius btn--transparent btn--border-green btn--border-green-hover-green font--regular text-capitalize">Все новинки<i class="fal fa-angle-right"></i></a>
                        </div>  <!-- End Section Title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="default-slider default-slider--hover-bg-red product-default-slider">
                            <div class="product-default-slider-4grid-1rows gap__col--30 gap__row--40">

                                {% get_last_product %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- ::::::  End  Product Style - Default Section  ::::::  -->

        <!-- ::::::  Start  Blog News  ::::::  -->
        <div class="blog m-t-100" style="margin-top: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                         <!-- Start Section Title -->
                        <div class="section-content section-content--border m-b-35">
                            <h5 class="section-content__title">Последние новости</h5>
                            <a href="{% url 'news' %}" class="btn btn--icon-left btn--small btn--radius btn--transparent btn--border-green btn--border-green-hover-green font--regular text-capitalize">Все новости <i class="fal fa-angle-right"></i></a>
                        </div>  <!-- End Section Title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="default-slider default-slider--hover-bg-red">
                            <div class="blog-feed-slider-3grid default-slider gap__col--30 ">
                                
                                {% get_last_news %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- ::::::  End  Blog News   ::::::  -->

        <!-- ::::::  Start Testimonial Section  ::::::  -->
        <div class="newsletter m-t-100 pos-relative">
            <div class="testimonial__bg">
                <img src="{% static 'img/review.jpg' %}" alt="">
                
            </div>
            <div class="testimonial__content pos-absolute absolute-center text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-content__inner">
                                <h2>Отзывы клиентов!</h2>
                            </div>
                            <div class="testimonial__slider default-slider">
                                
                                {% get_last_review %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- ::::::  End Testimonial Section  ::::::  -->

        <!-- ::::::  Start Newsletter Section  ::::::  -->
        <div class="newsletter m-t-100 pos-relative">
            <div class="newsletter__bg">
                <img src="{% static 'img/2.jpg' %}" alt="">
            </div>
            <div class="newsletter__content pos-absolute absolute-center text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-content__inner">
                                <h2>Email подписка</h2>
                            </div>
                        </div>
                        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                           
                            {% contact_form %}

                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- ::::::  End newsletter Section  ::::::  -->

    </main>  <!-- :::::: End MainContainer Wrapper :::::: -->

{% endblock content %}