{% extends 'product/base.html' %}
{% load static %}

{% block content %}
    <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% include 'include/main_baner.html' %}
                    <div class="section-content" style="margin-top: 30px; margin-bottom: 30px; border-bottom: 2px solid #666;">
                        <h5 class="section-content__title">Избраные товары</h5>
                    </div>
                    {% if products_likes_nmb == 0 %}
                        {% include 'include/like-cart.html' %}
                    {% else %}
                    <!-- Start Wishlist Table -->
                    <div class="table-content table-responsive cart-table-content m-t-30">
                        <table>
                            <thead>
                                <tr>
                                    <th>Изображение</th>
                                    <th>Название</th>
                                    <th>Цена</th>
                                    <th>удалить</th>
                                    <th>Добавить в корзину</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in product_list %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="{{ product.product.get_absolute_url }}"><img style="height: 270px;" src="{{ product.product.poster.url }}" alt=""></a>
                                    </td>
                                    <td class="product-name">
                                        <a href="{{ product.product.get_absolute_url }}">{{ product.product.title }}</a>
                                    </td>
                                    <td class="product-price-cart">
                                        {% if product.product.sale %}
                                            <span class="amount">{{ product.product.sale }}</span>
                                        {% else %}
                                            <span class="amount">{{ product.product.retail }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="pro-remove">
                                        <form action="{% url 'product_likes' %}">
                                            {% csrf_token %}
                                            <button 
                                                type="submit"
                                                class="product-card-likes-delete"
                                                data-id="{{product.id}}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td class="product-add-cart">
                                        <form action="{% url 'basket_adding' %}">
                                            {% csrf_token %}
                                            <button 
                                                type="submit"
                                                data-url="{{product.product.get.absolute_url}}"
                                                data-name="{{product.product.title}}"
                                                data-id="{{product.product.id}}"
                                                data-img="{{ product.product.poster.url }}"
                                                class="product-card-likes-add btn btn--box btn--small btn--radius btn--green btn--green-hover-black btn--uppercase font--semi-bold">Добавить в корзину</button>
                                        </form>    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  <!-- End Wishlist Table -->
                    {% endif %}
                    <!-- Start like-cart-->
                    <template id='custom-like-cart'>
                        {% include 'include/like-cart.html' %}
                    </template>
                </div>
            </div>
        </div>
    </main> 
    <!-- ::::::  End  Main Container Section  ::::::  -->
{% endblock content %}