{% extends 'product/base.html' %}
{% load include_tag %}
{% load static %}

{% block content %}
    <!-- :::::: Start Main Container Wrapper :::::: -->
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <!-- Start Rightside - Content -->
                <div class="col-12">
                    <!-- Start Banner -->
                    {% include 'include/main_baner.html' %}
                    <!-- End Banner -->
                    <div class="section-content" style="margin-top: 30px; margin-bottom: 30px; border-bottom: 2px solid #666;">
                        <h5 class="section-content__title">Поступление - {{date}}</h5>
                    </div>
                    <div class="page-breadcrumb" style="margin-bottom: 20px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="page-breadcrumb__menu">
                                        <li class="page-breadcrumb__nav"><a href="{% url 'index' %}">Главная</a></li>
                                        <li class="page-breadcrumb__nav"><a href="{% url 'category_list' %}">Категории</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ::::::  Start Sort Box Section  ::::::  -->
                    <div class="sort-box m-tb-40">
                        <div class="sort-box-item d-flex align-items-center flex-warp">
                            {% include 'include/search.html' %}
                        </div>
                        <div class="sort-box-item">
                            <span>{{elements}} - товара</span>
                        </div>
                    </div>
                    <!-- ::::::  Start Sort Box Section  ::::::  -->
                    {% include 'include/product.html' %}
                </div> 
                <!-- Start Rightside - Content -->
            </div>
        </div>
    </main>
    <!-- :::::: End MainContainer Wrapper :::::: -->
{% endblock content %}