{% extends 'product/base.html' %}

{% block content %}
    <main id="main-container" class="main-container">
        <!-- Start Product Details Gallery -->
        <div class="product-details m-t-100">
            <div class="container">          
                <div class="row">
                    <div class="col-md-5">                      
                        <div class="product-gallery-box product-gallery-box--default m-b-60">                          
                            <div class="product-image--large-horizontal">
                                <img style="max-width:100%;" src="{{ news.poster.url }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="product-details-box m-b-60">
                            <h4 class="font--regular m-b-20">{{news.title}}</h4>
                            <div class="product__desc">
                                <p style="color: #7e7e7e;">{{news.dateAdd}}</p>
                            </div>
                            <div class="font--regular m-t-5">
                                {{news.description | safe}}
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </main>
{% endblock content %}
